@import url("../node_modules/rsuite/dist/styles/rsuite-default.css");
/* @import url("https://test4.oldi.ru/upload/fonts/GothamPro/stylesheet.css"); */
@import url("./assets/fonts/GothamPro/stylesheet.css");
/* #oldi_computer_container * {

} */
@media (max-width: 600px) {
.n-page-container * {
/* position: absolute !important; */
-webkit-box-sizing: initial !important;
box-sizing: initial !important;
font-family: 'Gotham Pro' !important;
font-style: normal !important;

}
.n-tabs-banner .react-tabs__tab-list{
  flex-direction: column !important;
}
.n-head-banner-right{
  padding: 2em 2em;
}
.o-arraw_slider{
  left:0 !important;
}
.react-tabs__tab-list{
  display: flex;
flex-direction: column;
height: 11em;
align-items: center;
justify-content: space-between;
}
.n-head-banner-right-4{
  display:flex;
  justify-content:space-around;
  align-items: center;
}
}
/*  up style for small screens only  */
.n-page-container{
  /* background-color: #f5f5f5; */
  padding-top: 3em !important;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
}
.n-head-banner-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* max-height: 300px; */
  margin: 1em 0em;
}
.n-head-banner-left{
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #000; */
  margin: 0px 2em;
}
.n-head-banner-left img{
  /* max-width: 300px; */
  height: 100%;
  width: 100%;
  max-width: 380px;
  object-fit: contain;
  /* border-radius: 8px; */
/* background-color: #f6f6f6; */
/* box-shadow: 0px 0px 2px 0px #ccc; */
}
/* .n-head-banner-left img:hover{
  max-width: 300px;
  height: 100%;
  width: 100%;
  max-width: 380px;
  object-fit: contain;
  border-radius: 8px;
background-color: #f6f6f6;
box-shadow: 0px 0px 0px 0px #ccc;
} */
.n-head-banner-right{
  min-width: 330px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  padding: 1em;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 1px 0px #ccc;
}
.n-head-banner-right-0{
  font-size: 2.5em;
  font-weight: 700;
  color: #000;
}
.n-head-banner-right-1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: .5em 0em;
  font-size: 1.2em;
}
.n-head-banner-right-1 p {
  padding-right:1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 0px;
}
.n-head-banner-right-1 p i{
  padding-right:1em;

}
.n-head-banner-right-2{
  font-size: 1.2em;
}
.n-head-banner-right-3{
  font-size: 2em;
  font-weight: 700;
  margin: 1em 1px;
  text-align: center;
  width: 100%;
}
.n-head-banner-right-4{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%
  }
  .n-head-banner-right-4 .rs-btn{
    border-radius:0px !important;
    /* max-width: 300px; */
    /* font-family: gothom; */
  font-weight: 700 !important;
  font-size: 1.2em;
    width: 100%;
    height: 55px;
    margin-right: 10px;
    padding: 0px .5em;
  }
  /* .n-head-banner-right-4 .rs-btn:hover{

  } */
  .n-tabs-banner{
    width: 91%;
    max-width: 1300px;
    margin: 3em auto 0 auto;
    min-height: 626px;
}
.n-tabs-banner .react-tabs__tab-list{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #3498ff;
  justify-content: center;
}
  .react-tabs__tab--selected{
    /* border-color: #3498ff !important; */
    border:unset !important;
    /* border-bottom:3px solid  #3498ff !important; */
    background-color: #3498ff !important;
    color: #fff !important;
    border-radius:unset !important;
    /* font-weight: 700; */
  }
  .react-tabs__tab{
    min-width:120px;
    text-align: center;
    user-select: none;
    padding: 11px 23px;
    font-size: 1.2em;
  }
  .react-tabs__tab:focus {
    box-shadow: unset !important;
    border-color: #3498ff !important;
    outline: none;
  }
  .n-tabs-tab-components{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;
   /* min-height: 560px; */
  }
  .n-tabs-tab-components-one{
    flex-grow: 2;
    width: 300px;
    max-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 1px 0px #ccc;
  }
  .n-tabs-tab-components-one:hover{
    box-shadow: 0px 0px 3px 0px #ccc;
  }
  .n-tabs-tab-components-one i{
   text-decoration: none;
   font-style: unset;
  }
  .n-tabs-tab-components-one .rs-divider-horizontal{
    margin: 8px 0px ;
  }
  .n-tabs-perfoms{
    margin-top: 2em;
  }
  .n-tabs-perfoms .react-tabs__tab-list{
  max-width: 400px;
  margin: 0px auto;
  display: flex;
  border-bottom: unset;
  flex-direction: row;
  justify-content: center;
  }
  .n-tabs-perfoms .react-tabs__tab-list .react-tabs__tab--selected{
    border-bottom: 3px solid  #333435 !important;
    background-color: unset !important;
    color: #000 !important;
  }
  .n-custom-btn{
    border-radius: 2px;
    border: 1px solid #3498ff;
    font-size: 1em;
    /* width: 102px; */
    cursor: help;
    text-decoration: unset !important;
    -webkit-text-decoration-style: unset;
    text-decoration-style: unset;
    font-weight: bold;
    padding: 6.2px 5em;
    flex-grow: 2;
  }
  .n-custom-btn:hover,.n-custom-btn:focus{
    text-decoration:unset !important;
background-color: unset !important;
background: unset !important;
text-decoration: unset !important;
  }
.o-arraw_slider{
  box-shadow: -3px 0px 3px 0px #ccc;
  user-select: none;
  cursor: pointer;
  position:absolute !important;
  left:0;
  z-index:0;
}
.o-arraw_slider:hover{
  box-shadow: -3px 0px 1px 0px rgb(173, 173, 173);
}
.o-arraw_slider:active{
  box-shadow: unset;
}
  /* @supports (display: flex) { */

/* } */